@model blog_template_practice.Models.Category

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="stylesheet" type="text/css" href="~/styles/MainStyleSheet.css"/>
</head>
<body>
   


    @foreach (var content in Model.Content)
    {
        <h2>@content.Title</h2>
            <p>@content.Author</p>
            <p>@content.Body</p>
            <p>@content.PublishDate</p>
            <a href="/Content/Update/@content.Id">Update</a>
            <a href="/Content/Delete/@content.Id">Delete</a>
    }
    <p>
    <a href="/Content/CreateByCategoryId/@Model.Id">Wite a Post</a>
    </p>


</body>
</html>
