@model blog_template_practice.Models.Content
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateByCategoryId</title>
    <link rel="stylesheet" type="text/css" href="~/styles/CRUDStyleSheet.css" />
</head>
<body>
    <header>
        <div class="headerContent">
            <h1>Write A Post</h1>
        </div>
    </header>

    <nav>
        <div class="navContent">
            <button onclick="window.location.href='/Category/Index/'" id="navBtn">Back To Topics</a></button>
            <button onclick="window.location.href='/Category/Details/@Model.CategoryId'" id="navBtn">Back to Posts</button>
        </div>
    </nav>

    <main>
        <div class="row">
            <div class="col-md-4">
                <form class="submissionForm" asp-action="Create">
                    <div class="text-success">@ViewBag.Result</div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Author" class="control-label"></label>
                        <textarea placeholder="Tell us your name..." rows="1" asp-for="Author" class="form-control"></textarea>
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <textarea placeholder="Name your post..." rows="1" asp-for="Title" class="form-control"></textarea>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Body" class="control-label"></label>
                        <textarea placeholder="What's on your mind?" rows="10" cols="50" asp-for="Body" class="form-control"></textarea>
                        <span asp-validation-for="Body" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label"></label>
                        <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(ViewBag.Category, "Id", "Name"))"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" id="sbmtBtn" />
                    </div>
                </form>
            </div>
        </div>
    </main>

    

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
