@model IEnumerable<blog_template_practice.Models.Content>
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Content</title>
</head>
<body>

    <h1>Content</h1>

    <hr />

    @foreach (var content in Model)
    {
        <h2><a href="/Content/Details/@content.Id">@content.Title</a></h2>
    }
    
<p>
    <h3><a href="/Content/Create"><button id="sendBtn">Write a Post</button></a></h3>

</p>
    

</body>
</html>
<hr />